# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Matplot
2. Pandas
3. Numpy
4. Tensorflow

Data Science Tools
<table >
    <tr>
        <th >Tools</th>
    </tr>
    <tr><td>Jupyter Notebook</td></tr>
    <tr><td>GitHub</td></tr>
    <tr><td>VS code</td></tr>    
 </table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<b>Objectives:</b>
* popular languages
* popular tools
* popular library

## Author
Monika Mittal